.App {
  text-align: center;
  background-color: rgb(43, 213, 255);
  color: white;
  font-family: 'Lemon', cursive;
  /* font-family: 'Emblema One', cursive; */
}

h2 {
  -webkit-text-stroke: 1px rgb(146, 169, 202);
  font-size: 40px;
}


