.App {
  text-align: center;
  background-color: rgb(43, 213, 255);
  color: white;
  font-family: 'Lemon', cursive;
}

#Heading {
  -webkit-text-stroke: 1px rgb(146, 169, 202);
  font-size: 45px;
  /* border: 2px solid red; */
  width: max-content;
  display: inline-block;
}

#Heading:hover {
  cursor: pointer;
}




